/* Remove default list styling for cleaner look */
.todo-list {
  list-style-type: none;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

/* Sub list indentation */
.sub-item {
  list-style-type: circle;
  margin-left: 25px;
}

/* Base link styling */
a {
  text-decoration: none;
  color: #1e88e5; /* unvisited link color */
}

/* Visited links */
a:visited {
  color: #6a1b9a;
}

/* Hover state */
a:hover {
  color: #e53935;
}

/* Active (clicked) state */
a:active {
  color: #2e7d32;
}

/* Focus state */
a:focus {
  outline: 2px solid orange;
  outline-offset: 3px;
}
